@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

/* html {
  background-color: #FFEDED;
  background-color: #E2FAFF;
} */

.serif {
  font-family: 'PT Serif', serif;
}